body {
    font-family: 'Roboto', sans-serif;
    background-color: #1230AE;
    margin: 0; /* Elimina todo margen del cuerpo */
}

header {
    height: 150px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF7F7;
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title-container {
    text-align: center; /* Center the title within its container */
}

header h1 {
    font-size: 60px;
    color: gold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

header a {
    margin-right: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

nav li {
    margin: 0;
}

nav a {
    text-decoration: none;
    color: goldenrod;
    padding: 15px 30px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: black;
}

nav a:hover {
    color: white;
    background-color: #C68FE6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

nav {
    background-color: transparent;
    display: flex;
    justify-content: center;
    z-index: 1;
}

/*busqueda*/

/* Contenedor de la barra de búsqueda */
.search-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    margin-top: 10px;
}

/* Ajustes del input y el botón de búsqueda */
.search-bar {
    display: flex;
    width: 400px;
}

.search-bar input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 14px;
    height: 30px;
}

/* Botón de búsqueda y ajuste del ícono */
.search-bar button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 0;
    margin-left: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Tamaño del ícono */
.search-bar button img {
    width: 30px;
    height: 30px;
    margin-top: 20px;
}

/*main* index*/

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.image-container {
    width: 40%;
    margin-top: 20px;
}



.texto-bienvenida{
color:gold ;
  font-size: 50px;
  text-shadow:2px 2px 4px #000;
  text-align: center; /* Centrar el texto */
  font-family: "Dancing Script", cursive;
 
}
.parrafo{
    color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra suave */
  background-color: #f0f0f0; /* Fondo gris claro */
  padding: 20px;
  border-radius: 5px;

}
/*footer*/
/* style.css */
.footer {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ddd;
}

.footer nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer nav ul li a img {
    width: 30px;
    filter: grayscale(100%);
    transition: transform 0.3s, filter 0.3s;
}

.footer nav ul li a img:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
}

.footer p {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}


